@model ProGym.Models.Product
@using ProGym.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax shop">
        <div class="parallax shop">
            <div class="row">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container breadcrumb pt-5">
        <div class="breadcrumb pt-5">
            <div class="row breadcrumb text-start ps-2 pt-5">
                <p>
                    @Html.MvcSiteMap().SiteMapPath()
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container justify-content-center pt-5">
        <div class="row">
            <div class="col-lg-2">
                <h3>Kategoria</h3>
                <hr />
                <div class="list-group pt-2">
                    @Html.Action("CategoriesMenu", "Store")
                </div>
            </div>
            <div class="col-lg-10 ps-5">
                <div class="row pt-5 justify-content-center">
                    <div class="card mb-3 shadow-lg" style="max-width: 840px;">
                        <div class="row text-end">
                            <div class="col-12 p-3">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {

                                    <a href="@Url.Action("AddProduct", "Manage", new { productId = Model.ProductID })" class="btn btn-success"> Edytuj </a>

                                }
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-4 pt-5">
                                <img src="@Url.ProductPhotoPath(Model.PhotoFileName)" class="img-fluid rounded-start" alt="...">                           
                            </div>
                            <div class="col-md-8 pt-5">
                                <div class="card-body">
                                    <h3 class="card-title">@Model.Name</h3><br />
                                    <h3 class="card-title">@Model.ProducerName</h3> <br />
                                    <p class="card-text">
                                        @Model.ShortDescription<br />
                                    </p>
                                    <p class="card-text"><small class="text-muted">Wysyłka w ciągu 24h</small></p>
                                    <div class="row text-end">
                                        <div class="col-12 p-3">
                                            <h2>@String.Format("{0:0.##}", Model.Price) zł</h2>
                                        </div>
                                        <div class="col-12 p-3">
                                            <a href="@Url.Action("AddToCart","Cart", new { id = Model.ProductID })" class="btn btn-primary btn-lg"><i class="fas fa-shopping-cart"></i> Dodaj do koszyka </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 p-5">
                            <div class="d-grid gap-2 col-4 p-3 mx-auto">
                                <a class="btn btn-dark" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Opis</a>
                            </div>
                            <div class="d-grid gap-2 col-4 p-3 mx-auto">
                                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Skład</button>
                            </div>
                            <div class="d-grid gap-2 col-4 p-3 mx-auto">
                                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Parametry</button>
                            </div>
                        </div>
                        <div class="row p-5 justify-content-center">
                            <div class="row justify-content-center">
                                <div class="col-12 text-start">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class="card card-body">
                                            @Model.Description
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-start">
                                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                                        <div class="card card-body">
                                            @Model.Ingredients
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-start">
                                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                                        <div class="card card-body">
                                            @Model.Parameters
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

