
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}



<section>
    <div class="container-fluid parallax shop">
        <div class="parallax shop">
            <div class="row">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid justify-content-center shop-sub pt-5 pb-5">
        <div class="row pt-5">
            <div class="col-12 pt-5 text-center">
                <h1>Sklep Pro Gym</h1>
                <p>
                    Wysokiej jakości suplementy diety to doskonały sposób na zapewnienie sobie dobrej kondycji, odporności i samopoczucia.<br />
                    Będąc członkiem naszego klubu skorzystaj z bogatej oferty naszego sklepu, gdzie znajdziesz różnego rodzaju odżywki oraz suplementy, które wspomogą twój organizm zarówno podczas treningu jak i po.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-lg-2 pt-5 ps-3 pe-3">
                <h3>Kategoria</h3>
                <hr />
                <div class="list-group pt-2">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Wszystkie
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Pierwsza kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Druga kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Trzecia kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Czwarta kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Piąta kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Szósta kategoria</a>
                </div>
            </div>
            <div class="col-lg-10 pt-5 ps-3 pe-3">
                <div class="row justify-content-center pb-4">
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pb-4">
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pb-4">
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="card">
                            <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Whey Protein Complex 100%</p>
                                <a href="#" class="btn btn-sm btn-primary">Kup teraz</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

