@model ProGym.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}



<section>
    <div class="container pt-5">
        <div class="col-md-4 mx-auto pb-5 pt-5">
            <div class="card shadow-lg">
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()

                        <div id="login-error">
                            @Html.ValidationMessage("loginerror", "")
                        </div>
                        <div class="row text-center pb-5 pt-3">
                            <h3>Zaloguj się</h3>
                        </div>
                        <div class="row pb-2 pe-1">
                            <div class="col-12">
                                <div class="row ps-1 pb-2">
                                    @Html.LabelFor(o => o.Email, "E-mail:")
                                </div>
                                <div class="row pb-2 ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.Email)
                                </div>
                                <div class="row pb-2 ps-1 pe-1">
                                    @Html.ValidationMessageFor(o => o.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2 pe-1">
                            <div class="col-12">
                                <div class="row ps-1 pb-2">
                                    @Html.LabelFor(o => o.Password, "Hasło:")
                                </div>
                                <div class="row pb-2 ps-3 pe-3">
                                    @Html.PasswordFor(o => o.Password)
                                </div>
                                <div class="row pb-2 ps-1 pe-1">
                                    @Html.ValidationMessageFor(o => o.Password)
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2 ps-1 pe-1 pb-4">
                            <div class="col-5">
                                @Html.LabelFor(o => o.RememberMe)
                            </div>
                            <div class="col-7">
                                @Html.CheckBoxFor(o => o.RememberMe, new { @checked = "checked" })
                            </div>
                        </div>
                        <div class="row pt-4 ps-1 pe-1 pb-4">
                            <input type="submit" value="Zaloguj" class="btn btn-success" />
                        </div>
                        <div class="row text-center pt-2">
                            <p>Nie masz konta?</p>
                        </div>
                        <div class="row ps-1 pe-1">
                            @Html.ActionLink("Zarejestruj się", "Register", "Account", new { @class = "btn btn-secondary" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptsBottom{

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}