@model IEnumerable<ProGym.Models.Workout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@Html.Partial("_BreadCrumb")

<section>
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-lg-5 pt-5 ps-4">
                            <div class="card-body add-workout text-center ps-4 pt-4">
                                <h3 class="card-text">Dodaj Trening</h3>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <img src="@Url.Content("~/Content/Images/AddWorkout.png")" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pt-5">
        <div class="workouts row text-center">
            <h1>Twoje treningi</h1>
        </div>
    </div>
</section>
<section>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <div id="productlist-section">
                    <div class="row pb-4">
                        @foreach (var workout in Model)
                        {
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-75">
                                    <div class="card-body">
                                        <h5 class="card-title">@workout.Name</h5>
                                        <p class="card-text">@workout.CreateDate</p>
                                        <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#trainingInfoModal">Szczegóły</a>
                                        <br /><br /><br />
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="trainingInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Lista ćwiczeń</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Seria</th>
                                                        <th scope="col">Nazwa</th>
                                                        <th scope="col">Ciężar</th>
                                                        <th scope="col">Ilość powtórzeń</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int position = 1;
                                                        string name = "";
                                                    }
                                                    @foreach (var exercise in workout.Exercises)
                                                    {
                                                        if (exercise.Name != name)
                                                        {
                                                            position = 1;
                                                            <tr>
                                                                <th scope="row" width="15%">@(position++)</th>
                                                                <td width="40%">@exercise.Name</td>
                                                                <td width="30%">@exercise.Weight</td>
                                                                <td>@exercise.RepetitionsNumber</td>
                                                            </tr>
                                                            name = exercise.Name;
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <th scope="row" width="10%">@(position++)</th>
                                                                <td width="40%">@exercise.Name</td>
                                                                <td width="30%">@exercise.Weight</td>
                                                                <td>@exercise.RepetitionsNumber</td>
                                                            </tr>
                                                        }

                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        @*<div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-100">
                                    <div class="card-body">
                                        <a id="product-name" href=""><p class="card-title">Trening A</p></a>
                                        <p class="card-text">21.11.2021</p>
                                        <a href="#" class="btn btn-success">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-100">
                                    <div class="card-body">
                                        <a id="product-name" href=""><p class="card-title">Trening B</p></a>
                                        <p class="card-text">15.11.2021</p>
                                        <a href="#" class="btn btn-success">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-100">
                                    <div class="card-body">
                                        <a id="product-name" href=""><p class="card-title">Trening A</p></a>
                                        <p class="card-text">21.11.2021</p>
                                        <a href="#" class="btn btn-success">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-100">
                                    <div class="card-body">
                                        <a id="product-name" href=""><p class="card-title">Trening B</p></a>
                                        <p class="card-text">15.11.2021</p>
                                        <a href="#" class="btn btn-success">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-100">
                                    <div class="card-body">
                                        <a id="product-name" href=""><p class="card-title">Trening A</p></a>
                                        <p class="card-text">21.11.2021</p>
                                        <a href="#" class="btn btn-success">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-100">
                                    <div class="card-body">
                                        <a id="product-name" href=""><p class="card-title">Trening B</p></a>
                                        <p class="card-text">15.11.2021</p>
                                        <a href="#" class="btn btn-success">Szczegóły</a>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

