@model IEnumerable<ProGym.Models.Workout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@Html.Partial("_BreadCrumb")

<section>
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <a href="" class="stretched-link" data-bs-toggle="modal" data-bs-target="#newWorkoutModal"></a>
                    <div class="row">
                        <div class="col-lg-5 pt-5 ps-4">
                            <div class="card-body add-workout text-center ps-4 pt-4">
                                <h3 class="card-text">Dodaj Trening</h3>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <img src="@Url.Content("~/Content/Images/AddWorkout.png")" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
                @*modal with new workout form*@
                <div class="modal fade" id="newWorkoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Dodaj nowy trening</h4>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm"}))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <form id="NewWorkoutForm">
                                <div class="modal-body">
                                    <h5 style="color:#ff6347">Szczegóły treningu</h5>
                                    <hr />
                                    <div class="row">
                                        <input type="hidden" id="WorkoutID" />
                                        <div class="col-12">
                                            <label for="workoutName" class="control-label pb-2">
                                                Nazwa treningu
                                            </label>
                                            <div class="col-lg-7 col-md-10">
                                                <input type="text" id="workoutName" name="workoutName" placeholder="" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <h5 style="margin-top:10px;color:#ff6347">Szczegóły ćwiczenia</h5>
                                    <hr />
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-10">
                                                <label for="exerciseName" class="control-label pb-2">
                                                    Nazwa ćwiczenia
                                                </label>
                                                <input type="text" id="exerciseName" name="exerciseName" placeholder="" class="form-control" />
                                            </div>
                                            <div class="col-lg-3 col-md-4">
                                                <label for="numberOfRepetitions" class="control-label pb-2">
                                                    Liczba powtórzeń
                                                </label>
                                                <input type="text" id="numberOfRepetitions" name="numberOfRepetitions" placeholder="" class="form-control" />
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <label for="weight" class="control-label pb-2">
                                                    Ciężar (kg)
                                                </label>
                                                <input type="text" id="weight" name="weight" placeholder="" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="submit btn btn-success" type="submit" value="Dodaj trening">
                                </div>
                            </form>
                            <div class="p-2">
                                <table id="detailsTable" class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:50%">Nazwa ćwiczenia</th>
                                            <th style="width:15%">Liczba powtórzeń</th>
                                            <th style="width:15%">Ciężar</th>
                                            <th style="width:10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="row pt-5">
                                <div class="col-12 pb-2 pe-4 text-end">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Zamknij</button>
                                    <button type="button" id="saveButton" class="btn btn-success" disabled>Zapisz trening</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pt-5">
        <div class="workouts row text-center">
            <h1>Twoje treningi</h1>
        </div>
    </div>
</section>
<section>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <div id="productlist-section">
                    <div class="row pb-4">
                        @foreach (var workout in Model)
                        {
                            <div class="col-xl-3 col-md-6 p-3">
                                <div class="card border-success h-75">
                                    <div class="card-body">
                                        <h5 class="card-title">@workout.Name</h5>
                                        <p class="card-text">@workout.CreateDate.ToString("dd/MM/yyyy")</p>
                                        <p>
                                            @Ajax.ActionLink("Szczegóły", "GetDetailsWorkout", new { id = workout.WorkoutID }, new AjaxOptions
                                                {
                                                    UpdateTargetId = "workoutDetails",
                                                    InsertionMode = InsertionMode.Replace,
                                                    OnSuccess = "Done()"
                                                },
                                                new { @class = "btn btn-success" })
                                        </p>
                                        <br /><br /><br />
                                    </div>
                                </div>
                            </div>
                        }
                        <div id="workoutDetails">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptsBottom{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>

        //Show Modal.
        function addNewOWorkout() {

            $("#newWorkoutModal").modal();

        }

        function Done() {
            $('#trainingInfoModal').modal('show');
        }



        //Validate form
        $(function validate() {



            $("#NewWorkoutForm").validate({
                rules: {
                    workoutName: {
                        required: true
                    },
                    exerciseName: {
                        required: true
                    },
                    numberOfRepetitions: {
                        required: true,
                        number: true
                    },
                    weight: {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    workoutName: {
                        required: "Proszę podać nazwę treningu"
                    },
                    exerciseName: {
                        required: "Proszę podać nazwę ćwiczenia"
                    },
                    numberOfRepetitions: {
                        required: "Proszę podać liczbę powtórzeń",
                        number: "Proszę podać wartość w liczbach"
                    },
                    weight: {
                        required: "Proszę podać wagę",
                        number: "Proszę podać wartość w liczbach"
                    }
                },
                submitHandler: function (form) {
                    {
                        addToList();
                    }


                }
            });
        });


        var list = [];

        //Add Multiple Order.
        function addToList() {

            if ($.trim($("#exerciseName").val()) == "" || $.trim($("#numberOfRepetitions").val()) == "" || $.trim($("#weight").val()) == "") return;

            var exerciseName = $("#exerciseName").val(),
                numberOfRepetitions = $("#numberOfRepetitions").val(),
                weight = $("#weight").val();

            detailsTableBody = $("#detailsTable tbody");

            var exerciseItem = '<tr><td>' + exerciseName + '</td><td>' + numberOfRepetitions + '</td><td>' + weight + '</td><td><a data-itemId="0" href="#" class="btn btn-sm btn-danger">Usuń</a></td></tr>';
            detailsTableBody.append(exerciseItem);

            list.push(exerciseItem);
            delete detailsTableBody;
            clearItem();

            $("#saveButton").prop('disabled', false);
        }



        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#exerciseName").val('');
            $("#numberOfRepetitions").val('');
            $("#weight").val('');
        }



        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.btn', function (e) {
            e.preventDefault();
            var row = $(this).parents('tr').index();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                    list.splice(row, 1);
                    if (list.length==0) {
                        $("#saveButton").prop('disabled', true);
                    }
                });
            }
            
        });



        //Collect Multiple Order List For Pass To Controller
        $("#saveButton").click(function (e) {
            e.preventDefault();
            save();

        });

        function save() {
            var workoutArr = [];
            workoutArr.length = 0;

            $.each($(list), function (i, l) {
                var parsed = $.parseHTML(l)
                workoutArr.push({
                    Name: $(parsed).find('td:eq(0)').html(),
                    RepetitionsNumber: $(parsed).find('td:eq(1)').html(),
                    weight: $(parsed).find('td:eq(2)').html()
                });
            });

            var workoutName = $("#workoutName").val();                
            var exercises = workoutArr;

            $.when(saveWorkout(workoutName, exercises)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        }



        //After Click Save Button Pass All Data View with AntiForgeryToken To Controller For Save Database
        function saveWorkout(workoutName,exercises) {

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            return $.ajax({                
                type: 'POST',
                url: "/Workout/SaveWorkout",
                data: {
                    __RequestVerificationToken: token, 
                    workoutName: workoutName,
                    exercises: exercises
                },
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Błąd!")
                }
            });
        }
    </script>
}

