@model ProGym.ViewModels.CartViewModel
@using ProGym.Infrastructure
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax shop">
        <div class="parallax shop">
            <div class="row">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid breadcrumb pt-5">
        <div class="breadcrumb">
            <div class="row breadcrumb text-start ps-5">
                <p>
                    @Html.MvcSiteMap().SiteMapPath()
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 pt-5 ps-5 pe-5">
                <h3>Kategoria</h3>
                <hr />
                <div class="list-group pt-2">
                    @Html.Action("CategoriesMenu", "Store")
                </div>
            </div>
            <div class="col-lg-10 pt-5 ps-5 pe-5">
                <div class="table-responsive">
                    <table class="table cart">
                        <thead>
                            <tr>
                                <th scope="col">Pozycja</th>
                                <th scope="col"></th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Ilość</th>
                                <th scope="col">Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int position = 1;
                                foreach (var product in Model.CartItems)
                                {
                                    <tr id="cart-row-@product.Product.ProductID">
                                        <td id="position" scope="row">@(position++) </td>
                                        <td>
                                            <a href="@Url.Action("Details", "Store", new { id = product.Product.ProductID })">
                                                <img src="@Url.Content(Url.ProductPhotoPath(product.Product.PhotoFileName))" />
                                            </a>
                                        </td>
                                        <td><a href="@Url.Action("Details","Store",new { id = product.Product.ProductID })" class="name"> @product.Product.Name</a></td>
                                        <td><span id="cart-item-count-@product.Product.ProductID">@product.Quantity</span></td>
                                        <td> @String.Format("{0:0.## zł}", product.TotalPrice)</td>
                                        <td><a href="" class="removeProduct btn btn-sm btn-danger" data-id="@product.Product.ProductID">Usuń</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row pt-2 pb-3">
                    <div class="col-12" id="cart-empty-message">
                        @if (Model.CartItems == null || Model.CartItems.Count == 0)
                        {
                            <p>Twój koszyk jest pusty. Może warto coś do niego dodać?</p>
                        }
                    </div>
                </div>
                <div class="row pt-2 pb-5 pe-2">
                    <div id="total-price" class="col-12 text-end">
                        <h3>Razem do zapłaty : <span style="font-weight:600;" id="total-price-value"> @String.Format("{0:0.##}", Model.TotalPrice)</span> zł</h3>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 text-start">
                        <a href="@Url.Action("Index","Store")" class="btn btn-lg btn-secondary">Kontynuuj zakupy</a>
                    </div>
                    <div class="col-6 text-end">
                        @if (Model.TotalPrice > 0)
                        {
                            <a href="@Url.Action("Checkout","Cart")" id="cart-button-checkout" class="btn btn-lg btn-success">Kup teraz</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section ScriptsBottom{

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(function () {
            $(".removeProduct").click(function () {

                var recordToDelete = $(this).attr("data-id");

                if (recordToDelete != '') {
                    $.post("/Cart/RemoveFromCart", { "productID": recordToDelete },
                        function (response) {
                            if (response.RemovedItemCount == 0) {

                                $('#cart-row-' + response.RemoveItemId).fadeOut('slow', function () {
                                    if (response.CartItemsCount == 0) {
                                        $("#cart-empty-message").removeClass("hidden");
                                    }
                                });
                            } else {
                                $('#cart-item-count-' + response.RemoveItemId).text(response.RemovedItemCount);
                            }
                            if (response.CartItemsCount == 0) {
                                $('#cart-button-checkout').addClass('hidden');
                                $('#total-price').addClass('invisible');
                            }
                            $('#total-price-value').text(response.CartTotal);
                            $('#cart-header-items-count').text(response.CartItemsCount);
                        });
                    return false;
                }
            });
        });
    </script>
}