@model ProGym.Models.ManageCredentialsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<section>
    <div class="container">
        <div class="col-md-6 mx-auto pb-5 pt-5">
            <div class="card shadow-lg">
                <div class="card-body">
                    @using (Html.BeginForm("ChangeProfile", "Manage"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="login-error">
                            @Html.ValidationMessage("password-error", "")
                        </div>
                        <div class="row text-center pb-5 pt-3">
                            <h2>Zmień dane</h2>
                        </div>
                        <div class="row pb-2">
                            <div class="col-md-6">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.UserData.FirstName)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.UserData.FirstName)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.UserData.FirstName)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.UserData.LastName)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.UserData.LastName)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.UserData.LastName)
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-md-6">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.UserData.Address)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.UserData.Address)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.UserData.Address)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.UserData.CodeAndCity)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.UserData.CodeAndCity)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.UserData.CodeAndCity)
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-md-6">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.UserData.PhoneNumber)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.UserData.PhoneNumber)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.UserData.PhoneNumber)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.UserData.Email)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.TextBoxFor(o => o.UserData.Email)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.UserData.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4 ps-5 pe-5">
                            <input type="submit" value="Zmień dane" class="btn btn-success" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto pb-5 pt-5">
            <div class="card shadow-lg">
                <div class="card-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div id="login-error">
                            @Html.ValidationMessage("password-error", "")
                        </div>

                        <div class="row text-center pb-5 pt-3">
                            <h2>Zmień hasło</h2>
                        </div>
                        if (Model.Message.HasValue)
                        {
                            <div class="manage-message text-center pb-3">
                                @switch (Model.Message)
                                {
                                    case ProGym.Controllers.ManageController.ManageMessageId.ChangePasswordSuccess:
                                        @: Hasło zmienione pomyślnie!
                                        break;
                                    case ProGym.Controllers.ManageController.ManageMessageId.Error:
                                        @: Wystąpił błąd
                                        break;
                                }
                            </div>
                        }
                        <div class="row pb-2">
                            <div class="col-md-12">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.ChangePasswordViewModel.OldPassword)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.PasswordFor(o => o.ChangePasswordViewModel.OldPassword)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.OldPassword)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.ChangePasswordViewModel.NewPassword)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.PasswordFor(o => o.ChangePasswordViewModel.NewPassword)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.NewPassword)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row ps-1">
                                    @Html.LabelFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                                </div>
                                <div class="row ps-3 pe-3">
                                    @Html.PasswordFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                                </div>
                                <div class="row ps-1 pb-3">
                                    @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4 ps-5 pe-5">
                            <input type="submit" value="Zmień hasło" class="btn btn-success" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptsBottom
{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


