@model IEnumerable<ProGym.Models.Order>
@using ProGym.Infrastructure
@{
    ViewBag.Title = "OrdersList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<section>
    <div class="container orderlist pt-5">
        <div class="row text-center pt-5 pb-5">
            <h1>Zamówienia</h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            @if (Model.Any())
            {

                foreach (var order in Model)
                {
                    <div class="row pb-5 pt-5">
                        <div class="table-responsive orders"
                             @if (order.OrderState == ProGym.Models.OrderState.Completed) { <text> id="orderCompleted" </text>  } else if (order.OrderState == ProGym.Models.OrderState.Received) { <text> id="orderReceived" </text> }>

                            <table class="table orders"
                                   @if (order.OrderState == ProGym.Models.OrderState.Completed) { <text> id="orderCompleted" </text>  } else if (order.OrderState == ProGym.Models.OrderState.Received) { <text> id="orderReceived" </text> }>

                                <thead>
                                    <tr>
                                        <td>
                                            <strong>Status: </strong><br />

                                            @if (ViewBag.UserIsAdmin)
                                            {
                                                using (Html.BeginForm("ChangeOrderState", "Manage"))
                                                {
                                                    @Html.HiddenFor(o => order.OrderID)
                                                    @Html.EnumDropDownListFor(o => order.OrderState, new { @class = "form-control", style = "width:30%" })
                                                }
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(o => order.OrderState)
                                            }
                                        </td>
                                        <td class="text-end">
                                            <strong>Nr zamówienia: </strong>
                                            @order.OrderID
                                        </td>
                                        <td colspan="4" class="text-end" width="15%">
                                            <strong>Data: </strong>
                                            @order.DateCreated.ToString("dd-MM-yyyy")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <strong>Dane wysyłkowe:</strong><br />
                                            @order.FirstName @order.LastName<br />
                                            @order.Address<br />
                                            @order.CodeAndCity<br />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var product in order.OrderItems)
                                        {
                                            <tr id="cart-row-@product.Product.ProductID">
                                                <td id="product-img">
                                                    <a href="@Url.Action("Details", "Store", new { id = product.Product.ProductID })">
                                                        <img src="@Url.Content(Url.ProductPhotoPath(product.Product.PhotoFileName))" />
                                                    </a>
                                                </td>
                                                <td><a href="@Url.Action("Details","Store",new { id = product.Product.ProductID })" class="name"> @product.Product.Name</a></td>
                                                <td><span id="cart-item-count-@product.Product.ProductID">@product.Quantity</span></td>
                                                <td> @String.Format("{0:0.## zł}", product.Quantity * product.UnitPrice)</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td>
                                            <strong>Uwagi: </strong><br />
                                            @order.Comment
                                        </td>
                                        <td colspan="4" class="text-end">
                                            <strong>Łączny koszt:</strong> @order.TotalPrice zł
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="row pt-5 text-center" style="color:red">
                    <h2>Brak zamówień</h2>
                    <hr />
                </div>


            }

        </div>
    </div>
</section>



<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    $(".form-control").on('change', function (e) {
        //e.preventDefault();

        var f = $(this.form);
        var table = f.closest("table");

        var action = f.attr("action");
        var serializedForm = f.serialize();
        $.post(action, serializedForm).done(function (data) {
            if (data == '@ProGym.Models.OrderState.Completed.ToString()') {
                table.addClass("orderCompleted")
            }
            else if (data == '@ProGym.Models.OrderState.Received.ToString()') {
                table.addClass("orderReceived")
            }
            else {
                table.removeClass("orderCompleted");
                table.removeClass("orderReceived");
            }
          });
    });
</script>


