@model ProGym.ViewModels.CalculatorsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    AjaxOptions bmi = new AjaxOptions()
    {
        Url = Url.Action("CalculateBMI", "Calculators"),
        HttpMethod = "Post",
        OnSuccess = "DisplayBMI"
    };
    AjaxOptions oneRepMax = new AjaxOptions()
    {
        Url = Url.Action("CalculateOneRepMax", "Calculators"),
        HttpMethod = "Post",
        OnSuccess = "DisplayOneRepMax"
    };
    AjaxOptions BMR = new AjaxOptions()
    {
        Url = Url.Action("CalculateBMR", "Calculators"),
        HttpMethod = "Post",
        OnSuccess = "DisplayBMR"
    };

}

<section>
    <div class="container-fluid first-group text-center pt-5">
        <div class="calculator row justify-content-center">
            <h1>Oblicz swoje BMI</h1>
            <div class="col-6 pt-5 text-center">
                @using (Ajax.BeginForm(bmi))
                {
                    <div class="row p-2">
                        <div class="col-md-6 text-md-end">
                            @Html.LabelFor(x => x.Weight, "Twoja masa (kg):")
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row p-2 pb-5">
                        <div class="col-md-6 text-md-end">
                            @Html.LabelFor(x => x.Height, "Twój wzrost (cm):")
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
                        </div>
                    </div>

                    <input type="submit" value="Oblicz" class="btn btn-success ps-4 pe-4" />
                }
                <div class="mb-3 row pt-5 p-2 text-center">
                    <div class="col-12" style="display:inline-block">
                        @Html.LabelFor(x => x.ResultBMI, "Twoje BMI: ")
                        <div id="resultBMI" style="display:inline-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid second-group text-center pt-5">
        <div class="calculator row justify-content-center">
            <h1>Oblicz 1RM</h1>
            <div class="col-6 pt-5 text-center">
                @using (Ajax.BeginForm(oneRepMax))
                {
                    <div class="row p-2">
                        <div class="col-md-6 text-md-end">
                            @Html.LabelFor(x => x.Weight, "Ciężar (kg):")
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row p-2 pb-5">
                        <div class="col-md-6 text-md-end">
                            @Html.LabelFor(x => x.NumberOfRepetitions, "Liczba powtórzeń:")
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.NumberOfRepetitions, new { @class = "form-control" })
                        </div>
                    </div>

                    <input type="submit" value="Oblicz" class="btn btn-success ps-4 pe-4" />
                }
                <div class="mb-3 row pt-5 p-2 text-center">
                    <div class="col-12" style="display:inline-block">
                        @Html.LabelFor(x => x.ResultRepMax, "1RM: ")
                        <div id="resultOneRepMax" style="display:inline-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid first-group text-center pt-5">
        <div class="calculator row justify-content-center">
            <h1>Oblicz swoje BMR</h1>
            <div class="col-6 pt-5 text-center">
                @using (Ajax.BeginForm(BMR))
                {
                    <div class="row input-group text-start pb-5">
                        <div class="col-lg-4">
                            <div class="row">
                                @Html.LabelFor(x => x.Gender, "Płeć:")
                            </div>
                            <div class="form-check form-check-inline">
                                <div id="inlineRadio1">@Html.RadioButtonFor(x => x.Gender, "M", new { @class = "form-check-input" })</div>
                                <label class="form-check-label" for="inlineRadio1">Mężczyzna</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <div id="inlineRadio2">@Html.RadioButtonFor(x => x.Gender, "K", new { @class = "form-check-input" })</div>
                                <label class="form-check-label" for="inlineRadio2">Kobieta</label>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                @Html.Label("Aktywność fizyczna:")
                            </div>
                            <div class="row ps-3 pe-3">
                                @Html.DropDownListFor(x => x.ActivityID, new SelectList(ViewBag.Activities, "ID", "Description"), "Wybierz rodzaj aktywności", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row input-group text-start pb-5">
                        <div class="col-lg-6">
                            <div class="row">
                                @Html.Label("Somatotyp:")
                            </div>
                            <div class="row ps-3 pe-3">
                                @Html.DropDownListFor(x => x.TypeID, new SelectList(ViewBag.Types, "ID", "Description"), "Wybierz swój somatotyp", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                @Html.Label("Twój cel:")
                            </div>
                            <div class="row ps-3 pe-3">
                                @Html.DropDownListFor(x => x.PurposeID, new SelectList(ViewBag.Purposes, "ID", "Description"), "Wybierz swój cel", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row input-group text-start pb-4">
                        <div class="col-lg-4">
                            @Html.LabelFor(x => x.Weight, "Waga (kg):")
                            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                            @Html.LabelFor(x => x.Height, "Wzrost (cm):")
                            @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                            @Html.LabelFor(x => x.Age, "Wiek:")
                            @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row pt-2 justify-content-center">
                        <div class="col-6 ">
                            <input type="submit" value="Oblicz" class="btn btn-success ps-4 pe-4" />
                        </div>
                    </div>
                }
                <div class=" row pt-3 pt-5 pb-2 text-center">
                    <div class="col-12" style="display:inline-block">
                        @Html.LabelFor(x => x.ResultBMR, "BMR: ")
                        <div id="resultBMR" style="display:inline-block">

                        </div>
                    </div>
                </div>
                <div class=" row pt-3 pb-5 text-center">
                    <div class="col-12" style="display:inline-block">
                        @Html.LabelFor(x => x.TotalCaloricRequirement, "Całkowite zapotrzebowanie kaloryczne: ")
                        <div id="totalCaloricRequirement" style="display:inline-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section ScriptsBottom{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        function DisplayBMI(data) {
            var container = $('#resultBMI');
            $(container).html('');
            resultBMI = data.ResultBMI + ' - ' + data.Range;
            $(container).append(resultBMI);
        }
    </script>

    <script>
        function DisplayOneRepMax(data) {
            var container = $('#resultOneRepMax');
            $(container).html('');
            resultOneRepMax = data.ResultRepMax;
            $(container).append(resultOneRepMax);
        }
    </script>

    <script>
        function DisplayBMR(data) {
            var container = $('#resultBMR');
            var container2 = $('#totalCaloricRequirement');

            $(container).html('');
            $(container2).html('');

            resultBMR = data.ResultBMR + ' kcal';
            totalCaloricRequirement = data.TotalCaloricRequirement + ' kcal';

            $(container).append(resultBMR);
            $(container2).append(totalCaloricRequirement);
        }
    </script>

}
