@model IEnumerable<ProGym.Models.Product>
@using ProGym.Infrastructure
@{
    ViewBag.Title = "ProductList";
}


<div id="productlist-section pt-5">
    <div class="row pb-4 pt-5">
        <div class="table-responsive">
            <table class="table all-products pt-5">
                <thead>
                    <tr>
                        <th scope="col">Nr Produktu</th>
                        <th scope="col"></th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Producent</th>
                        <th scope="col">Cena</th>
                        <th scope="col">W sprzedaży</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="row">@product.ProductID</th>
                            <td width="30%"><a href="@Url.Action("Details", "Store", new { id = product.ProductID })"><img src="@Url.ProductPhotoPath(product.PhotoFileName)" class="card-img-top" alt="..."></a></td>
                            <td>@product.Name</td>
                            <td>@product.ProducerName</td>
                            <td>@product.Price</td>
                            @if (product.IsHidden)
                            {
                                <td width="10%" style="color:red">Wycofany ze sprzedaży </td>
                            }
                            else
                            {
                                <td width="10%">W aktualnej sprzedaży </td>
                            }

                            <td>
                                <a href="@Url.Action("AddProduct", "Manage", new { productId = product.ProductID })" class="btn btn-sm btn-success"> Edytuj </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


