@using Microsoft.AspNet.Identity

<div id="login-header" class="justify-content-end">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            if (User.IsInRole("Admin"))
            {
                @Html.ActionLink(User.Identity.GetUserName(), "OrdersList", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })<i class="pe-3"></i>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            }
            else
            {
                @Html.ActionLink(User.Identity.GetUserName(), "GetProfile", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })<i class="pe-3"></i>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            }
        }
    }
    else
    {
        <div>
            <i class="fas fa-user-plus pt-2 ps-3 pe-1"></i> @Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            <i class="fas fa-user-check ps-3 pt-2 pe-1"></i> @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    }
</div>
