
@{
    ViewBag.Title = "Cennik";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax prices">
        <div class="parallax prices">
            <div class="row">

            </div>
        </div>
    </div>
</section>

@*<section>
    <div class="container">
        <div class="row pt-5 pb-5 text-center">
            <div class="col-md-4 pt-5 pb-5 text-center">
                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                    <div class="card-header text-center">Karnet STUDENT</div>
                    <div class="card-body text-center">
                        <h1 class="card-title text-center">69 PLN</h1>
                        <hr />
                        <p class="card-text">Dostęp do wszystkich stref ćwiczeniowych klubu</p>
                        <hr />
                        <p class="card-text">Dostęp do sauny</p>
                        <hr />
                        <p class="card-text">Dostęp do zajęć grupowych</p>
                        <hr />
                        <p class="card-text">Pomoc trenera personalnego</p>
                        <hr />
                        <p class="card-text">*Wymagana legitymacja studencka</p>
                        <hr />
                        <a href="@Url.Action("xxx","xxx")" class="text-center btn btn-light btn-lg btn-block">Kup teraz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5 pb-5">
                <div class="card card-2 text-white bg-dark mb-3 rounded-3">
                    <div class="card-header text-center">Karnet OPEN</div>
                    <div class="card-body text-center">
                        <h1 class="card-title text-center">99 PLN</h1>
                        <hr />
                        <p class="card-text">Dostęp do wszystkich stref ćwiczeniowych klubu</p>
                        <hr />
                        <p class="card-text">Dostęp do sauny i solarium</p>
                        <hr />
                        <p class="card-text">Dostęp do zajęć grupowych</p>
                        <hr />
                        <p class="card-text">Pomoc trenera personalnego</p>
                        <hr />
                        <a href="@Url.Action("xxx","xxx")" class="btn btn-light btn-lg btn-block">Kup teraz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5 pb-5">
                <div class="card card-3 text-white bg-dark mb-3 rounded-3">
                    <div class="card-header text-center">Karnet OPEN MAX</div>
                    <div class="card-body text-center">
                        <h1 class="card-title text-center">119 PLN</h1>
                        <hr />
                        <p class="card-text">Dostęp do wszystkich stref ćwiczeniowych klubu</p>
                        <hr />
                        <p class="card-text">Dostęp do całej strefy relaksu</p>
                        <hr />
                        <p class="card-text">Dostęp do zajęć grupowych</p>
                        <hr />
                        <p class="card-text">Pomoc trenera personalnego</p>
                        <hr />
                        <p class="card-text">Dostęp do zajęć ze sztuk walki</p>
                        <hr />
                        <a href="@Url.Action("xxx","xxx")" class="btn btn-light btn-lg btn-block">Kup teraz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@


<section>
    <section id="team" class="pt-5 pb-5">
        <div class="container pt-5">
            <div class="row pt-5">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-12 col-md-4 pt-5">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                                    <div class="card-header text-center">Karnet STUDENT</div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title text-center">69 PLN</h1>
                                        <hr /><br /><br />
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                                    <div class="card-header text-center">Karnet STUDENT</div>
                                    <div class="card-body text-center">

                                        <p class="card-text">Dostęp do wszystkich stref ćwiczeniowych klubu</p>
                                        <hr />
                                        <p class="card-text">Dostęp do sauny</p>
                                        <hr />
                                        <p class="card-text">Dostęp do zajęć grupowych</p>
                                        <hr />
                                        <p class="card-text">Pomoc trenera personalnego</p>
                                        <hr />
                                        <p class="card-text">*Wymagana legitymacja studencka</p>
                                        <hr />
                                        <a href="@Url.Action("xxx","xxx")" class="text-center btn btn-light btn-lg btn-block">Kup teraz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-12 col-md-4 pt-5">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                                    <div class="card-header text-center">Karnet STUDENT</div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title text-center">99 PLN</h1>
                                        <hr /><br /><br />

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                                    <div class="card-header text-center">Karnet OPEN</div>
                                    <div class="card-body text-center">

                                        <p class="card-text">Dostęp do wszystkich stref ćwiczeniowych klubu</p>
                                        <hr />
                                        <p class="card-text">Dostęp do sauny</p>
                                        <hr />
                                        <p class="card-text">Dostęp do zajęć grupowych</p>
                                        <hr />
                                        <p class="card-text">Pomoc trenera personalnego</p>
                                        <hr />
                                        <p class="card-text">*Wymagana legitymacja studencka</p>
                                        <hr />
                                        <a href="@Url.Action("xxx","xxx")" class="text-center btn btn-light btn-lg btn-block">Kup teraz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-12 col-md-4 pt-5">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                                    <div class="card-header text-center">Karnet OPEN MAX</div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title text-center">119 PLN</h1>
                                        <hr /><br /><br />

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card card-1 text-white bg-dark mb-3 rounded-3">
                                    <div class="card-header text-center pt-3 pb-3">Karnet STUDENT</div>
                                    <div class="card-body text-center">
                                        <p class="card-text">Dostęp do wszystkich stref ćwiczeniowych klubu</p>
                                        <hr />
                                        <p class="card-text">Dostęp do sauny</p>
                                        <hr />
                                        <p class="card-text">Dostęp do zajęć grupowych</p>
                                        <hr />
                                        <p class="card-text">Pomoc trenera personalnego</p>
                                        <hr />
                                        <p class="card-text">*Wymagana legitymacja studencka</p>
                                        <hr />
                                        <a href="@Url.Action("xxx","xxx")" class="text-center btn btn-light btn-lg btn-block">Kup teraz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->


            </div>
        </div>
    </section>
    <!-- Team -->
</section>

@*<section class="pt-5 pb-5 benefit-section">
    <div class="container">
        <div class="row pb-3">
            <div id="subsc" class="col text-center">
                <h1>
                    Honorujemy Karty:
                </h1>
                <hr>
            </div>
        </div>
        <div class="row p-md-1">
            <div class="col-md-3 col-6  pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/FitProfit2.png")" alt="Card image cap" />
            </div>
            <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/multisportClassic2.png")" alt="Card image cap" />
            </div>
            <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/multisportPlus2.png")" alt="Card image cap" />
            </div>
            <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/OK-SYSTEM2.png")" alt="Card image cap" />
            </div>
        </div>
    </div>
</section>*@


