
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="@Url.Content("~/Content/Images/gym_head2rrCiemneNapis.jpg")" alt="First slide">
                <div class="carousel-caption">
                    <div id="buttonRegistry">
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <a href="" class="btn btn-outline-light btn-lg">Zacznij już teraz!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid mb-5">
        <div id="subsc" class="text-center mt-5 mb-5">
            <h1><span class="badge bg-dark">Pro Gym</span></h1>
        </div>       
       <div class="row pb-5">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="@Url.Content("~/Content/Images/Services/profileBlack80px.png")" />
                </div>
                <div class="box">
                    <div class="our-services settings">
                        <h4>Osobiste konto</h4>
                        <p>Zarządaj swoim kontem, monitoruj swoje osiągnięcia, dokonuj rezerwacji i wiele innych</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="@Url.Content("~/Content/Images/Services/training.png")" />
                </div>
                <div class="box">
                    <div class="our-services speedup">
                        <h4>Siłownia</h4>
                        <p>Ćwicz i pokonuj własne granice na najlepiej wyposażonej i najnowocześniejszej siłowni w mieście</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="@Url.Content("~/Content/Images/Services/fight.png")" />
                </div>
                <div class="box">
                    <div class="our-services privacy">
                        <h4>Sztuki walki</h4>
                        <p>Zapisz się do sekcji sztuk walki gdzie rozwiniesz swoje umięjętności na profesjonalnie przygotowanej do tego sali </p>
                    </div>
                </div>
            </div>
        </div>     
       <div class="row">
           <div class="col-md-4 text-center">
               <div class="icon">
                   <img src="@Url.Content("~/Content/Images/Services/team.png")" />
               </div>
               <div class="box">
                   <div class="our-services database">
                       <h4>Zajęcia grupowe</h4>
                       <p>Skorzystaj z naszej oferty rozbudowanych zajęć, gdzie na pewno znajdziesz coś dla siebie </p>
                   </div>
               </div>
           </div>
           <div class="col-md-4 text-center">
               <div class="icon">
                   <img src="@Url.Content("~/Content/Images/Services/sauna.png")" />
               </div>
               <div class="box">
                   <div class="our-services ssl">
                       <h4>Strefa Relaksu</h4>
                       <p>Skorzystaj z naszej oferty między innymi masaży oraz sauny</p>
                   </div>
               </div>
           </div>
           <div class="col-md-4 text-center">
               <div class="icon">
                   <img src="@Url.Content("~/Content/Images/Services/personaTrainer.png")" />
               </div>
               <div class="box">
                   <div class="our-services backups">
                       <h4>Trenerzy personalni</h4>
                       <p>Weż udział w zajęciach pod okiem profesjonalnego trenera, który pokaże Ci jak najefektywniej wykorzystywać czas spędzony na siłowni</p>
                   </div>
               </div>
           </div>

       </div>
    </div>
</section>
<section>
    <div class="container-fluid parallax index">
        <div class="parallax">
            <div class="row">

            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 benefit-section">
    <div class="container">
        <div class="row pb-3">
            <div id="subsc" class="col text-center">
                <h1>
                    Honorujemy Karty:
                </h1>
                <hr>
            </div>
        </div>
        <div class="row p-md-1">
            <div class="col-md-3 col-6  pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/FitProfit2.png")"  alt="Card image cap"/>
            </div>
            <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/multisportClassic2.png")"  alt="Card image cap"/>
            </div>
            <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/multisportPlus2.png")"  alt="Card image cap"/>
            </div>
            <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/OK-SYSTEM2.png")"  alt="Card image cap"/>
            </div>            
        </div>
    </div>
</section>


