
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax about-us">
        <div class="parallax about-us">
            <div class="row">

            </div>
        </div>
    </div>
</section>

    <section class="about company-section pt-5">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 pt-5 pb-5 text-center">
                    <h1>O Pro Gym</h1>
                    <hr>
                </div>
                <div class="col-md-3 pt-5">
                    <img class="img-fluid" src="@Url.Content("~/Content/Images/gym_logo.jpg")" alt="">
                </div>
                <div class="col-md-9 pt-md-0 pt-3 pb-5">
                    <p>
                        Siłownię Pro Gym cechuje  profesjonalizm, przyjemna atmosfera oraz bogata oferta.<br /><br />
                        Zapraszamy do nas wszystkie osoby, które pragną odrobiny ruchu i relaksu oraz osoby, pragnące zrzucić zbędne kilogramy. <br />
                        Zajęcia odbywające się w naszym klubie są dostosowane do potrzeb oraz możliwości wszystkich ćwiczących, przyczynią się one do kształtowania sylwetki i pomogą w spalaniu nadmiaru tkanki tłuszczowej.<br />
                        Dzięki nam poprawisz również siłę, wytrzymałość, gibkość oraz koordynację.
                    </p>
                    <p>
                        Każdemu oferujemy niezbędną opiekę oraz konsultacje z trenerem, który doradzi na jakie zajęcia fitness powinno się uczęszczać, by zrzucić zbędne kilogramy, a także pokaże jak poprawnie wykonywać ćwiczenia na poszczególnych urządzeniach oraz dobierze dostosowane do Twoich oczekiwań zestawy ćwiczeń.
                    </p>
                    <p>
                        Nasza siłownia wyposażona jest w profesjonalny sprzęt siłowy oraz kardio, a także strefę wolnych ciężarów.
                    </p>
                    <p>
                        W ofercie mamy treningi personalne, zajęcia grupowe jak i zajęcia ze sztuk walki . Na terenie klubu znajduje się również m.in sauna, solarium oraz sklep z odżywkami.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row pt-2 pb-5">
                <div class="col-lg-3 p-2">
                    <div class="shadow-sm card kontakt" style="height: 100%;">
                        <div class="shadow p-3 bg-white roundedcard-body kontakt text-center" style="height: 100%;">
                            <h3><i class="fas fa-dumbbell"></i></h3><br>
                            <h5 class="card-title text-center"><b> Szeroki wybór sprzętu do ćwiczeń</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-2">
                    <div class="shadow-sm card kontakt" style="height: 100%;">
                        <div class="shadow p-3 bg-white roundedcard-bodycard-body kontakt text-center" style="height: 100%;">
                            <h3><i class="fas fa-snowflake"></i></h3><br>
                            <h5 class="card-title text-center"><b>Przestronne klimatyzowane wnętrze podzielone na strefy</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-2">
                    <div class="shadow-sm card kontakt" style="height: 100%;">
                        <div class="shadow p-3 bg-white roundedcard-body card-body kontakt text-center" style="height: 100%;">
                            <h3><i class="fas fa-user-friends"></i></h3><br>
                            <h5 class="card-title text-center"><b>Duża różnorodność zajęć grupowych</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-2">
                    <div class="shadow-sm card kontakt" style="height: 100%;">
                        <div class="shadow p-3 bg-white roundedcard-body card-body kontakt text-center" style="height: 100%;">
                            <h3><i class="fas fa-spa"></i></h3><br>
                            <h5 class="card-title text-center"><b>Strefa relaksu oraz sklep z odżywkami</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5 pb-5 benefit-section">
        <div class="container">
            <div class="row pb-3">
                <div id="subsc" class="col text-center">
                    <h2>
                        Honorujemy Karty:
                    </h2>
                    <hr>
                </div>
            </div>
            <div class="row p-md-1">
                <div class="col-md-3 col-6  pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                    <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/FitProfit2.png")" alt="Card image cap" />
                </div>
                <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                    <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/multisportClassic2.png")" alt="Card image cap" />
                </div>
                <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                    <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/multisportPlus2.png")" alt="Card image cap" />
                </div>
                <div class="col-md-3 col-6 pt-md-3 pb-md-4 pl-md-4 pr-md-4">
                    <img class="img-fluid feature-img p-2" src="@Url.Content("~/Content/Images/Benefits Cards/OK-SYSTEM2.png")" alt="Card image cap" />
                </div>
            </div>
        </div>
    </section>
    

