
@{
    ViewBag.Title = "Relaks";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax relax">
        <div class="parallax relax">
            <div class="row">

            </div>
        </div>
    </div>
</section>

@Html.Partial("_BreadCrumb")

<section>
    <div class="container relax-sub pt-5 pb-5">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <h1>Strefa relaksu – ważny element treningu</h1>
            </div>
            <div class="col-12 pt-5 justify-content-center pb-5">
                <p>
                    Ważną częścią każdego treningu jest odpoczynek i rozluźnienie. Uspokojenie oddechu oraz porządne rozciągnięcie zmęczonych mięśni to niezbędne podsumowanie każdych ćwiczeń.<br />
                    W klubie Pro Gym możesz skorzystać z sauny, solarium, jacuzzi oraz oferty masaży. Wizyta w jacuzzi, saunie lub skorzystanie z masażu pozwoli natomiast zadbać o mięśnie i zapobiegnie bolesnym zakwasom.<br />
                    Wyciszenie sprawi, że zadowolenie z treningu będzie jeszcze większe.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>SAUNA SUCHA</h2>
                <hr />
                <p>Skorzystaj z sauny suchej, gdzie panują idealne warunki do oczyszczania skóry, regeneracji mięśni i wzmocnienia układu immunologicznego.</p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/sauna_.jpg")" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>JACUZZI</h2>
                <hr />
                <p>
                    Sprawdź, jak jacuzzi znakomicie niweluje stres i relaksuje po treningu.
                    Spośród wielu właściwości zdrowotnych można wymienić: wpływ na krążenie krwi, rozluźnienie mięśni, poprawę stanu skóry, a także przyspieszenie przemiany materii.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/jacuzzi_.jpg")" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>SOLARIUM</h2>
                <hr />
                <p>
                    Zadbaj o swój wygląd i skorzystaj z naszego solarium. <br />
                    Opalenizna podkreśla wyrzeźbioną i smukłą sylwetkę.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/solarium_.jpg")" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>MASAŻ</h2>
                <hr />
                <p>
                    Masaż wpływa korzystnie na cały organizm. Przyśpiesza krążenie krwi, przeciwdziała zakrzepom, zwiększa tempo przemiany materii, wspomaga dotlenienie tkanek. <br />
                    Korzystnie działa również na mięśnie – poprawia ich elastyczność, stanowi dobre przygotowanie do wysiłku i pomaga zapobiec kontuzjom.
                </p><br />
                <h3>Rodzaje masaży:</h3>
                <p><i class="fas fa-check-circle"></i> Masaż relaksacyjny</p>
                <p><i class="fas fa-check-circle"></i> Masaż klasyczny</p>
                <p><i class="fas fa-check-circle"></i> Masaż sportowy</p>
                <p><i class="fas fa-check-circle"></i> Masaż bańką chińską </p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/massage2_.jpg")" alt="" />
            </div>
        </div>
    </div>
</section>

